@font-face {
  font-family: 'Jura';
  src: url('./assets/Jura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-image: url(img/mainBg.png);
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
}

body, html {
  margin: 0;
  padding: 0;
}

/* MAIN PAGE */
.main-title {
  color: white;
  font-weight: bold;
  font-size: 3rem; /* Increase the font size */
  text-align: center; /* Center align text */
  margin: 0; /* Remove default margin */
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main-balance {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-balance-icon {
  width: 60px;
  height: 60px;
}

.main-balance-text {
  font-size: larger;
  margin-left: 5px;
}

.main-coins {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-add-icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 3px;
  flex: 15%;
}
.main-coins-text {
  font-size: larger;
  margin-left: 5px;
  color: black;
  font-weight: bold;
  flex: 80%;
}

.main-field {
  margin-top: 20px;
  width: 80%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 20px;
  overflow: hidden; 
}

.main-field-icon {
  margin: 3%;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider-items {
  display: flex;
  transition: transform 0.5s ease;
  flex: 80%
}

.slider-item {
  flex: 0 0 100%;
  max-width: 100%;
}

button.prev,
button.next {
  border: none;
  padding: 0px;
  font-size: 20px;
  z-index: 1;
  flex: 10%;
}

button.prev {
  left: 10px;
  flex: 10%;
}

button.next {
  right: 10px;
  flex: 10%;;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensure space is used effectively */
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
}

.main-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 20%;
}

.main-countdown img {
  width: 20px;
  height: 20px;
}

.main-time {
  color: black;
  font-size: medium;
  margin-left: 5px;
  font-family: 'Jura, sans-serif';
}

.main-field-icon {
  flex: 60%; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-field-icon img {
  max-width: 100%; /* Ensure it doesn't overflow the container */
  max-height: 100%; /* Ensure it scales properly */
}

.main-plant-button {
  background-color: #4CAF50;
  color: white;
  font-size: small;
  border: none;
  border-radius: 10px;
  margin: 10px;
  vertical-align: center;
  cursor: pointer;
  flex: 20%;
}

.main-plant-button-disabled {
  background-color: #535653;
  color: white;
  font-size: small;
  border: none;
  border-radius: 10px;
  margin: 10px;
  vertical-align: center;
  cursor: pointer;
  flex: 20%;
}
/* SHOP PAGE */

.shop-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 90%;
  margin-bottom: 60px;
}

.shop-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
  width: 100%;
}

.item-image img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.item-details {
  width: 60%
}

.item-intext-image img {
  width: 20px;
  height: 20px;
}

.item-info {
  display: flex; 
  margin-left: 5px;
  justify-content: left;
}

.item-name {
  color: black;
  font-size: medium;
  font-weight: bold;
  margin-right: 5px; 
  flex: 50%;
  text-align: left;
  justify-content: flex-start;
}

.item-time {
  color: black;
  font-size: medium;
  margin-left: 5px; 
  justify-content: right;
}

.item-pricing {
  display: flex; 
  align-items: center;
}

.item-cost,
.item-reward {
  color: black;
  font-size: medium;
  display: flex; 
  align-items: center; 
  margin-right: 10px; 
}

.item-button {
  background-color: #4CAF50;
  color: white;
  font-size: small;
  border: none;
  border-radius: 10px;
  margin: 10px;
  vertical-align: center;
  cursor: pointer;
}

.item-button:hover {
  background-color: #45a049;
}

/* LOADING PAGE */
.Loading-component {
  background-image: url(img/loadingBg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Remove quotes from 'cover' */
  height: 100vh;
  width: 100%;
  display: flex; /* Add flex display to center content */
  flex-direction: column; /* Set flex direction to column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

.Loading-title {
  color: white;
  font-weight: bold;
  font-size: 4rem; /* Increase the font size */
  text-align: center; /* Center align text */
  margin: 0; /* Remove default margin */
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Loading-content {
  display: flex;
  flex-direction: column;
  max-height: 1500px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Custom-spinner {
  width: 100px;  /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  margin: auto;
}